@{
    ViewBag.title = "Nosotros";
}
<div class="container py-5">
    <div class="row justify-content-center">
        <h1 class="text-primary mb-4">Sobre Nosotros </h1>
        <p class="mb-4">&bull; Gestper cuenta con presencia en Chile y Perú, 
            nuestra oferta se<br /> desarrolla en los ámbitos del diseño,
            desarrollo y transformación<br /> organizacional, con base en el uso de
            tecnologías de la información, para<br /> facilitar los procesos de la organización empresarial</p>
        <p class="mb-4">&bull; GESPTER, pasa a ser un socio de la empresa como un integrante más, <br/>
            que se adapta a las necesidades de ella y no que la empresa  se adapte a<br /> esta TI.</p>
    </div>
</div>