<h2>Iniciar sesión</h2>

<form method="post">
    <div class="form-group">
        <label for="Correo">Correo</label>
        <input type="email" class="form-control" id="Correo" name="Correo" required />
    </div>
    <div class="form-group">
        <label for="Contrasena">Contraseña</label>
        <input type="password" class="form-control" id="Contrasena" name="Contrasena" required />
    </div>

    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

<a href="@Url.Action("Registrar", "Usuario")" class="btn btn-secondary mt-3">Registrar nuevo usuario</a>