@{
    ViewBag.Title = "Caracteristicas";
}

<div class="container py-5">
    <h1 class="text-primary mb-4">Características de la Empresa</h1>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">✔ Más de 10 años de experiencia en el rubro.</li>
        <li class="list-group-item">✔ Atención personalizada y rápida.</li>
        <li class="list-group-item">✔ Personal altamente capacitado.</li>
        <li class="list-group-item">✔ Comprometidos con la seguridad laboral.</li>
    </ul>
</div>
